body {
  font-size: 13px;
  line-height: 1rem;
}

.title {
  font-size: 1.2rem;
}

.subtitle {
  font-size: 1rem;
  line-height: 1rem;
}

ul {
  list-style: none;
  padding: 0.2rem 0 0 0;
}

li {
  padding-left: 1.3em;
  padding-bottom: 0.2rem;
}

li:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.contact-info {
  font-size: 0.8rem;
}

section.section {
  padding: 0.3rem 0.8rem;
}

div.section {
  padding: 0.25rem 0 0.25rem 0;
  page-break-inside: avoid;
  page-break-after: auto;
}

.container {
  padding: 0.25rem 0;
}

.column > .subtitle {
  margin-bottom: 0.3rem;
}